<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.uoowo.dao.BbsQueueMapper" >
  <resultMap id="BaseResultMap" type="com.uoowo.bean.BbsQueue" >
    <result column="queueid" property="queueid" jdbcType="INTEGER" />
    <result column="v" property="v" jdbcType="INTEGER" />
    <result column="expiry" property="expiry" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    queueid, v, expiry
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.uoowo.bean.BbsQueueExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bbs_queue
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.uoowo.bean.BbsQueueExample" >
    delete from bbs_queue
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.uoowo.bean.BbsQueue" >
    insert into bbs_queue (queueid, v, expiry
      )
    values (#{queueid,jdbcType=INTEGER}, #{v,jdbcType=INTEGER}, #{expiry,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.uoowo.bean.BbsQueue" >
    insert into bbs_queue
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="queueid != null" >
        queueid,
      </if>
      <if test="v != null" >
        v,
      </if>
      <if test="expiry != null" >
        expiry,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="queueid != null" >
        #{queueid,jdbcType=INTEGER},
      </if>
      <if test="v != null" >
        #{v,jdbcType=INTEGER},
      </if>
      <if test="expiry != null" >
        #{expiry,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.uoowo.bean.BbsQueueExample" resultType="java.lang.Integer" >
    select count(*) from bbs_queue
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bbs_queue
    <set >
      <if test="record.queueid != null" >
        queueid = #{record.queueid,jdbcType=INTEGER},
      </if>
      <if test="record.v != null" >
        v = #{record.v,jdbcType=INTEGER},
      </if>
      <if test="record.expiry != null" >
        expiry = #{record.expiry,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bbs_queue
    set queueid = #{record.queueid,jdbcType=INTEGER},
      v = #{record.v,jdbcType=INTEGER},
      expiry = #{record.expiry,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>