<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.uoowo.dao.BbsUserLogsMapper" >
  <resultMap id="BaseResultMap" type="com.uoowo.bean.BbsUserLogs" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="login_ip" property="loginIp" jdbcType="INTEGER" />
    <result column="login_date" property="loginDate" jdbcType="INTEGER" />
    <result column="ua" property="ua" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, uid, login_ip, login_date, ua
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.uoowo.bean.BbsUserLogsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bbs_user_logs
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bbs_user_logs
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bbs_user_logs
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.uoowo.bean.BbsUserLogsExample" >
    delete from bbs_user_logs
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.uoowo.bean.BbsUserLogs" >
    insert into bbs_user_logs (id, uid, login_ip, 
      login_date, ua)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{loginIp,jdbcType=INTEGER}, 
      #{loginDate,jdbcType=INTEGER}, #{ua,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.uoowo.bean.BbsUserLogs" >
    insert into bbs_user_logs
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="loginIp != null" >
        login_ip,
      </if>
      <if test="loginDate != null" >
        login_date,
      </if>
      <if test="ua != null" >
        ua,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="loginIp != null" >
        #{loginIp,jdbcType=INTEGER},
      </if>
      <if test="loginDate != null" >
        #{loginDate,jdbcType=INTEGER},
      </if>
      <if test="ua != null" >
        #{ua,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.uoowo.bean.BbsUserLogsExample" resultType="java.lang.Integer" >
    select count(*) from bbs_user_logs
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bbs_user_logs
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.uid != null" >
        uid = #{record.uid,jdbcType=INTEGER},
      </if>
      <if test="record.loginIp != null" >
        login_ip = #{record.loginIp,jdbcType=INTEGER},
      </if>
      <if test="record.loginDate != null" >
        login_date = #{record.loginDate,jdbcType=INTEGER},
      </if>
      <if test="record.ua != null" >
        ua = #{record.ua,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bbs_user_logs
    set id = #{record.id,jdbcType=INTEGER},
      uid = #{record.uid,jdbcType=INTEGER},
      login_ip = #{record.loginIp,jdbcType=INTEGER},
      login_date = #{record.loginDate,jdbcType=INTEGER},
      ua = #{record.ua,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.uoowo.bean.BbsUserLogs" >
    update bbs_user_logs
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="loginIp != null" >
        login_ip = #{loginIp,jdbcType=INTEGER},
      </if>
      <if test="loginDate != null" >
        login_date = #{loginDate,jdbcType=INTEGER},
      </if>
      <if test="ua != null" >
        ua = #{ua,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.uoowo.bean.BbsUserLogs" >
    update bbs_user_logs
    set uid = #{uid,jdbcType=INTEGER},
      login_ip = #{loginIp,jdbcType=INTEGER},
      login_date = #{loginDate,jdbcType=INTEGER},
      ua = #{ua,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>